html {
  font-family: sans-serif;
  font-size: max(20pt, 10vmin);
  line-height: 1.618;
}

body {
  display: flex;
  flex-flow: column;
  margin: auto;
  margin-bottom: 2em;
  min-height: 100vh;
  overflow-wrap: anywhere;
}

h1 {
  align-items: center;
  display: flex;
  flex-flow: column;
  font-size: 1.618em;
  font-weight: bold;
  margin: 1em;
  min-height: 100vh;
  line-height: 2;
}

a {
  font-weight: bold;
  padding: 10pt;
}

p {
  font-family: sans-serif;
}

address {
  font: unset;
  text-transform: uppercase;
}

menu {
  display: flow-root;
  margin: auto;
  padding: 0;
  padding-inline: 1ch;
  list-style: none;
}

menu li {
  display: contents;
}

menu a {
  border: 1ex inset;
  border-radius: 100%;
  box-sizing: border-box;
  float: left;
  font-family: monospace;
  display: flex;
  justify-content: center;
  margin: auto;
  padding: 1ch;
  text-align: center;
  width: calc(100% / 3);
}

kbd {
  font-family: unset;
}

b {
  font: unset;
  text-transform: uppercase;
}

em {
  font-style: unset;
}

@media (orientation: portrait) {
  .grace {
    margin-inline: 2em;
    writing-mode: vertical-rl;
  }
}

:focus {
  outline: .5ex outset;
  text-decoration-style: dotted;
}

:hover {
  text-decoration-style: double;
}

@media (color) {
  ::selection {
    background: #ee1;
    color: darkviolet;
  }

  :root {
    background-color: plum;
    background-image: linear-gradient(.6turn, peachpuff, skyblue, blueviolet, hotpink, #bae, thistle, papayawhip);
    color: indigo;
  }

  :any-link {
    border-color: #bae;
    color: indigo;
    background-color: #bae;
    text-shadow: 0 1ch 1ch #bae;
  }

  :focus {
    outline-color: skyblue;
    border-color: skyblue;
    background-color: skyblue;
  }

  a:hover {
    border-color: deepskyblue;
    background-color: deepskyblue;
  }

  h1 {
    display: flex;
    flex-flow: column;
    text-shadow:
      -1vw -1vh 0 deeppink,
      -2vw -2vh 0 salmon,
      -3vw -3vh 0 hotpink,
      -4vw -4vh 0 sandybrown,
      -5vw -5vh 0 mediumorchid,
      -6vw -6vh 0 mediumpurple,
      -7vw -7vh 0 #bae;
    word-spacing: 1ch;
  }
}
